* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.full-width {
    width: 100%;
}

.unstyled-button {
    border: none;
    background: transparent;
    cursor: pointer;
}
.unstyled-button:hover {
    text-decoration: underline;
}

.no-flex-shrink {
    flex-shrink: 0;
}